/* Dark mode colors. */
:root {
  --sl-color-accent-low: #291901 !important;
  --sl-color-accent: #c96b00 !important;
  --sl-color-accent-high: orange !important;
  --sl-color-white: #ffffff !important;
  --sl-color-gray-1: #eceef2 !important;
  --sl-color-gray-2: #c0c2c7 !important;
  --sl-color-gray-3: #888b96 !important;
  --sl-color-gray-4: #545861 !important;
  --sl-color-gray-5: #353841 !important;
  --sl-color-gray-6: #24272f !important;
  --sl-color-black: #17181c !important;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #decfbb !important;
  --sl-color-accent: #d89400 !important;
  --sl-color-accent-high: orange !important;
  --sl-color-white: #17181c !important;
  --sl-color-gray-1: #24272f !important;
  --sl-color-gray-2: #353841 !important;
  --sl-color-gray-3: #545861 !important;
  --sl-color-gray-4: #888b96 !important;
  --sl-color-gray-5: #c0c2c7 !important;
  --sl-color-gray-6: #eceef2 !important;
  --sl-color-gray-7: #f5f6f8 !important;
  --sl-color-black: #ffffff !important;
}
