/* Dark mode colors. */
:root {
  --sl-color-accent: #c96b00 !important;
  --sl-color-accent-high: orange !important;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #decfbb !important;
  --sl-color-accent: #d89400 !important;
  --sl-color-accent-high: orange !important;
}
